
<div class="menu back">
  {{#link-to "players"}}Back{{/link-to}}
</div>
<h1>{{this.model.name}}</h1>

<div class="profile">
  {{#if this.model.avatar}}
    <img src={{this.model.avatar}} alt="player's photograph" class="profile-photo col-md-2">
  {{else}}
    <img src="/blank_profile.png" alt="player's photograph" class="profile-photo">
  {{/if}}
</div>

<div class="details">
  <div class="team col-md-4 float-left">
    Team:{{this.model.team}}
  </div>

  <div class="birthdate col-md-4 float-right">
    Birthday: {{this.model.birthday}}
  </div>

  <div class="star-sign col-md-4">
    Star Sign: {{this.model.starsign}}
  </div>
</div>
