
<div class="menu back">
  {{#link-to 'players'}}Back{{/link-to}}
</div>
<h1>Name: {{this.model.name}} </h1>

<div class="profile img">
  {{#if this.model.avatar}}
    <img src={{this.model.avatar}} alt="player's photograph" class="profile-photo">
  {{else}}
    <img src="/blank_profile.png" alt="player's photograph" class="profile-photo">
  {{/if}}
</div>

<div class="team">
  Team:{{this.model.team}}
</div>

<div class="birthdate">
  Birthday: {{this.model.birthday}}
</div>

<div class="star-sign">
  Star Sign: {{this.model.starsign}}
</div>
